.modulo-1 {

    .titulo {
        color: #496A4A;
        font-size: 35px;
        line-height: 49px;
        font-weight: 700;
        margin-bottom: 60px;

        @include res-lg {
            font-size: 25px;
            line-height: 39px;
        }

        @include res-sm {
            font-size: 18px;
            line-height: 30px;
        }

        .add-1 {
            width: 40px;
        }

        .add-2 {
            width: 360px;

            @include res-lg {
                max-width: 70vw;
            }
        }
    }

    .img-principal {
        border-radius: 44px;
    }

    .add-3 {
        width: 118px;

        @include res-lg {
            width: 80px
        }
    }

    @include conteudo {
        color: #707070;
        font-size: 18px;
        line-height: 35px;
        font-weight: 700;
    }
}

.modulo-2 {
    background-image: url('../img/bg-modulo-2.webp');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 1300px;
    padding-top: 15rem;
    padding-bottom: 15rem;

    @include res-mac {
        background-size: 140% 1250px;
    }

    @include res-xl {
        background-size: 140% 1170px;
    }

    @include res-lg {
        background-size: 180% 1070px;
    }

    @include res-md {
        background-image: url('../img/bg-mobile-modulo-2.webp');
        background-size: 100% 60%;
        padding-top: 10rem;
        padding-bottom: 10rem;
    }

    @include res-sm {
        background-size: 195% 62%;
    }

    .titulo {
        font-size: 35px;
        line-height: 49px;
        color: #fff;
        text-transform: uppercase;

        .add-1 {
            width: 37px;

            path {
                fill: #fff;
                fill-rule: evenodd;
            }
        }

        .add-2 {
            width: 130px;
        }
    }

    .titulo-2 {
        font-size: 35px;
        line-height: 49px;
        color: #7C7C7C;
        text-transform: uppercase;

        .add-1 {
            path {
                fill: #FD511E;
                fill-rule: evenodd;
            }
        }
    }

    .sub-1 {
        font-size: 20px;
        line-height: 28px;
        color: #fff;
    }

    .modulo-2-slick {

        .slick-slide {
            .box {
                transition: .1s;
                transform: scale(.8);
                opacity: .8;
            }
        }

        .slick-center {
            .box {
                transition: .1s;
                transform: scale(1);
                opacity: 1;
            }
        }
    }

    #dog-sticks {
        @include res-note {}

        .btn-1 {
            width: 110px;
            height: 50px;
            background-color: #fff;
            font-size: 16px;
            line-height: 40px;
            letter-spacing: -0.32px;
            font-weight: 500;
            color: #FD511E;
            border-radius: 24px;

            &:hover {
                opacity: .7;
            }
        }
    }

    #be-nature {
        .btn-1 {
            width: 110px;
            height: 50px;
            background-color: #FD511E;
            font-size: 16px;
            line-height: 40px;
            letter-spacing: -0.32px;
            font-weight: 500;
            color: #FFF;
            border-radius: 24px;

            &:hover {
                color: #fff;
                transition: .3s;
                background-color: #d3471d;
            }
        }
    }


}

.modulo-3 {
    //Background
    background-image: url(../../assets/img/modulo-3-bg.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top center;
    display: flex;
    flex-direction: column;
    position: relative;

    @include res-lg {
        background-size: cover;
    }

    @include padding;

    //Texto conteúdo
    @include conteudo {
        font-size: 20px;
        line-height: 37px;
        color: #707070;
        font-weight: 700;
    }

    .sub-1,
    .sub-1 p {
        font-size: 15px;
        line-height: 24px;
        color: #707070;
        font-weight: 700;
    }

    .add-2 {
        width: 80px;
        margin-bottom: 5px;
    }

    //Imagem
    .add-3 {
        @include res-sm {
            margin-top: 5%;
        }
    }

    .bg {
        background-color: #FD511E;
        mix-blend-mode: multiply;
        height: 84px;
        margin-top: 55px;

        @include res-lg {
            padding: 0;
        }

        .col-lg-11 {
            @media (min-width: 1560px) {
                max-width: 65vw;
            }
        }
    }

    .btn-1 {
        width: 130px;
        height: 45px;
        border-radius: 20px;
        border-color: transparent;
        background-color: transparent;
        color: #fff;
        font-size: 22px;
        margin: 0 24px;
        position: relative;

        @include res-note {
            font-size: 21px;
        }

        @include res-xl {
            font-size: 16px;
        }

        @include res-lg {
            font-size: 21px;
            min-width: 135px;
            margin: 0 5px;
        }

        &:after {
            content: "";
            position: absolute;
            width: 1px;
            height: 100%;
            right: -25px;
            background-color: #fff;

            @include res-lg {
                right: -5px;
            }
        }

        &:last-child {
            &::after {
                display: none;
            }
        }

        &:hover {
            box-shadow: none;
            border-color: #FFFFFF;
            background-color: #fff;
            color: #FD511E;
        }

        &.ativo {
            border-color: #FFFFFF;
            background-color: #fff;
            color: #FD511E;
        }
    }

    .produto {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .item {
            position: absolute;
            opacity: 0;
            z-index: 1;

            &.ativo {
                position: relative;
                opacity: 1;
                z-index: 2;
                animation-iteration-count: 1;
                animation-name: amima-modulo-3;
                animation-duration: .5s;
                -webkit-animation-iteration-count: 1;
                -webkit-animation-name: amima-modulo-3;
                -webkit-animation-duration: .5s;

                // @keyframes amima-modulo-3 {
                //     0% {
                //         opacity: 0;

                //         img {
                //             transform: rotateY(0);
                //         }
                //     }

                //     50% {
                //         img {
                //             transform: rotateY(180deg);
                //         }
                //     }

                //     100% {
                //         opacity: 1;

                //         img {
                //             transform: rotateY(0)
                //         }
                //     }
                // }
            }
        }
    }

    figure.img-sticks {
        width: 70%;

        @include res-lg {
            width: 100%;
        }
    }
}

.modulo-4 {
    padding-top: 60px;

    //Texto conteúdo
    @include conteudo {
        font-size: 22px;
        line-height: 37px;
        color: #707070;
        font-weight: 700;
        text-align: right;

        @include res-lg {
            text-align: left;
        }
    }

    .sub-1 {
        font-size: 22px;
        line-height: 24px;
        color: #F1860E;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .8px;
        cursor: pointer;

        @include res-xl {
            font-size: 17px;
        }
    }

    .ativo {
        @extend .sub-1;
        color: #327675;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;

        &:after {
            position: absolute;
            bottom: -15px;
            content: url(../img/icones/mod4-5.svg);
        }

        &:before {
            position: relative;
            content: url(../img/icones/mod4-4.svg);
        }
    }

    .form-select {
        background-color: transparent;
        border: 1px solid #FD511E;
        padding: 1rem;
        border-radius: 20px;
        color: #707070;
        font-size: 18px;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        text-transform: uppercase;

        @include res-sm {
            font-size: 16px;
        }
    }
}

.modulo-5 {
    background-image: url('../img/bg-modulo-5.webp');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 1300px;
    padding-top: 16rem;
    padding-bottom: 6rem;

    @include res-lg {
        background-size: 0;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .titulo {
        color: #496A4A;
        font-size: 35px;
        line-height: 49px;
        font-weight: 700;
        margin-bottom: 60px;

        @include res-xl {
            font-size: 25px;
            line-height: 39px;
        }

        @include res-sm {
            font-size: 18px;
            line-height: 29px;
        }
    }

    .card-box {
        width: 260px;
        height: 290px;
        background-color: #FFF;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 15px 15px;

        .card-imagem {
            width: 260px;
            height: 187px;

            img {
                border-radius: 15px 15px 0 0;
            }
        }

        .card-titulo h3 {
            color: #327675;
            font-size: 18px;
            line-height: 28px;
            font-weight: 700;
            width: 216px;
            max-width: 100%;
            height: 80px;
            margin: 10px 0;
        }
    }

    .btn-1 {
        width: 12%;

        @include res-lg {
            width: 22%;
        }

        @include res-sm {
            width: 32%;
        }
    }
}

.modulo-6 {
    padding-top: 100px;
    padding-bottom: 60px;

    .titulo {
        color: #496A4A;
        font-size: 35px;
        line-height: 49px;
        font-weight: 700;
        margin-bottom: 60px;

        @include res-xl {
            font-size: 25px;
            line-height: 39px;
        }

        @include res-sm {
            font-size: 18px;
            line-height: 29px;
        }
    }

    .form-control {
        border: 1px solid #707070;
        border-radius: 24px;
        color: #BEBEBE;
        font-size: 16px;
        line-height: 40px;
        letter-spacing: -0.32px;
        text-transform: uppercase;
        padding: 13px 30px;

        &:active,
        &:focus {
            border: 1px solid #FD511E;
        }

        @include res-md {
            width: 80%;
            margin: 0 auto;
        }
    }

    .btn-1 {
        height: auto;

        @include res-md {
            width: 32%;
            margin: 0 auto;
            height: 48px;
        }
    }
}

.modulo-7 {
    .add {
        position: fixed;
        z-index: 10;
        transition: .3s;
        width: 10vw;
    }

    .add-1 {
        top: 40px;
        right: 250px;
        width: 10vw;

        @include res-lg {
            right: 100px;
        }
    }

    .add-2 {
        top: 500px;
        left: -50px;
        width: 20vw;
    }

    .add-3 {
        top: 700px;
        right: 50px;
    }

    .add-4 {
        left: 150px;
        top: -500px;
    }

    .add-5 {
        right: 50px;
        top: -800px;
        width: 15vw;
    }

    .add-6 {
        left: -50px;
        top: -1200px;
    }

    .add-7 {
        right: 50px;
        top: -1500px;
    }

    .add-8 {
        left: 150px;
        top: -1700px;
    }

    .add-9 {
        right: 250px;
        top: -2100px;
    }
}